@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&display=swap');

:root {
    --body-bg: #fefefe;
    --text-color: #000000;
    --primary-font-family: "Roboto", sans-serif;
    --heading-font-family: "Jacquarda Bastarda 9", serif;
    font-size: 10px;
}

body {
    background-color: var(--body-bg);
    color: var(--text-color);
    font-family: var(--primary-font-family);
    font-size: 1.6rem;
}

/* START COMMON */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: var(--heading-font-family);
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

p {
    line-height: 3rem;
}
.section-outer {
    display: flex;
    justify-content: center;
    padding: 3.5rem 0;
}
.section-wrapper {
    width: 107.4rem;
}
/* END COMMON */

/* START BANNER */
.banner {
    background-image: url('../images/banner_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.banner h1 {
    border: 5px solid var(--text-color);
    padding: 3rem;
    width: 41.4rem;
    box-sizing: border-box;
    word-spacing: 5px;
    line-height: 5rem;
}
.banner .section-wrapper {
    display: flex;
    justify-content: end;
}
/* END BANNER */

/* START INFO */
.intro .section-wrapper  {
    display: flex;
    gap: 100px;
}

.intro .section-wrapper > div {
    flex-basis: calc(50% - 50px);
}

.stats {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3rem;
}
.stats > div {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.stats .stats-count {
    font-size: 9.6rem;
    font-weight: bold;
}
/* END INFO */