@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
    background-color:#F9EEEE;
    font-family:"Inter", system-ui ;
}

section {
    width:min(90%, 671px);
    margin:0 auto;
    margin-top: calc((100vh - 217px) / 2);
    text-align: center;
    color: black;
}

h2 {
    font-size: 40px;

}
p {
    font-size: 18px;
    line-height:1.6em;

}