/* author: Anmol shikari
email:anmolshikari11111@gmail.com
last updated: 20 august 2024 */

/* *{ 
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: 1px solid blanchedalmond;
    
} */

body{ 
    background-color: #EE6C4D;
    border: 5px solid black
}
/* Start common styles */
h1{
    color:#168AAD;

}
/* end common styles */
h3{ 
    font-style: italic;
}
form{ 
    border:1px solid #168AAD;
    padding:15px;
    margin:15px;
}
input{
    font-size:18px;
    padding: 5px;
    margin-bottom: 10px;
}
label {
    display: block;
}
buttom{
    padding: 10px;
    border-radius:20px;
    background-color: #EE6C4D;
    color:white;
    font-weight:600;
}
button:hover{
    background-color: #168AAD;
}

h3.fancy-text{
color:green;
font-style: inherit;
}
#large-heading{
    font-size: 100px;
}
input[type="password"],
input[type="email"] {
    color:red;
    border-radius: 20px;
}
input:focus{
    background-color:#168AAD;
}

h2:not(.normal) {
    font-size: 30px;
    color :#EE6C4D;
}
/* button:disabled:hover{ */
    /* background-color: blue; */
/* } */

p::first-line{
    font-weight:bold;
    font-style:italic;
}
p::first-letter{
    font-size: 100px;
}
p::selection{
    background-color: coral;
    color: green;
    opacity: 50%;
}
input[type="password"] ::placeholder{
    color:red;
    opacity:100%;

}
a{
    color: blue;
    font-size:18px;
}
.red-text{
    color: red
}
#blue_text {
    color:blue;
}
/* !important */