@import url(./reset/css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --body-bg:#000000;
    --text-color:#ffffff;
    --primary-font-family:"Inter";
    font-size: 10px;
}
body{
    background-color: var(--body-bg);
    color: var(--text-color);
    font-family: var(--primary-font-family);
    font-size: 1.6rem;
}

/* Start Common */ 

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    
}
h1{
    font-size: 4.8rem;
   
h2{
    font-size: 4rem;
    margin-bottom: 2rem;
}
}
p{
    font-size: 1.6rem;
    line-height: 3rem;
}
.section-outer{
    display: flex;
    justify-content: center;
    padding: 3.5rem 0;
}
.section-wrapper{
    width: 107.4rem;
    display: flex;
    justify-content: right;
}
/* End Common */
/* Start banner */
.banner{
background-image: url('../images/banner_bg.png');
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}
.banner h1{
    border: 5px solid var(--text-color);
    padding: 3rem;
    width:41.4rem;
    box-sizing: border-box;
    word-spacing: 5px;
}
.banner .section-wrapper{
    display: flex;
    justify-content: end;
}
/* End banner */
/* Start Info */
.intro.section-wrapper{
    display: flex;
    gap: 100px;

}
.intro .section-wrapper > div{
    flex-basis: calc(50% - 50px);
}
.stats{
    display: flex;
    flex-wrap: wrap ;
    row-gap: 2rem;

}
.stats > div{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}
.stats .stats-count {
font-size: 9.6rem;
font-weight: bold;

}
/* End info */